{% extends 'base.html' %}

{% block title %}Dashboard | DevTrack{% endblock %}

{% block content %}

<div class="page-header">

    <div>
        <h1>Dashboard</h1>

        <p>
            Welcome back, {{ user.username }}.
            Here's your development overview.
        </p>
    </div>

    <a href="{% url 'project_create' %}"
       class="btn btn-primary">
        + New Project
    </a>

</div>

<div class="stats-grid">

    <div class="stat-card">
        <h3>Total Projects</h3>

        <div class="number">
            {{ total_projects }}
        </div>
    </div>

    <div class="stat-card">
        <h3>Active Projects</h3>

        <div class="number">
            {{ active_projects }}
        </div>
    </div>

    <div class="stat-card">
        <h3>Total Tasks</h3>

        <div class="number">
            {{ total_tasks }}
        </div>
    </div>

    <div class="stat-card">
        <h3>Completed Tasks</h3>

        <div class="number">
            {{ completed_tasks }}
        </div>
    </div>

</div>

<div class="card">

    <h2>Upcoming Tasks</h2>

    <br>

    {% if upcoming_tasks %}

        <div class="table-container">

            <table>

                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Project</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th>Due Date</th>
                    </tr>
                </thead>

                <tbody>

                    {% for task in upcoming_tasks %}

                    <tr>

                        <td>
                            {{ task.title }}
                        </td>

                        <td>
                            {{ task.project.title }}
                        </td>

                        <td>
                            {{ task.get_priority_display }}
                        </td>

                        <td>
                            {{ task.get_status_display }}
                        </td>

                        <td>
                            {{ task.due_date }}
                        </td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    {% else %}

        <p>No upcoming tasks.</p>

    {% endif %}

</div>

{% endblock %}